/*
The gulp svg sprites package uses the mustache template system
meaning any code included within double braces
                
                '{{#shapes}} ACTUAL CODE {{/shapes}}'

will be looped through for each icon

(I guess here, 'shapes' is the special keyword used by svg sprites to reference
all shapes and iterate through them here...)

Note that in that file, we will use several variables that seem to come from nowhere
They actually come from the gulp svg sprite package!!
All the info on these variables are at the official GitHub documentation:
https://github.com/jkphl/svg-sprite/blob/master/docs/templating.md

The final processed file (after decoding this file's content) is at:
'./app/temp/sprite/css/sprite.css'
*/

{{#shapes}}

    {{#first}}
        /*
        First, the code put between 
                '{{#first}} ACTUAL CODE {{/first}}'
        will only be repeated for the first item of the sequence

        This creates a base 'icon' class that has a 'background-image' attribute
        so that this exact same background image corresponding to the same sprite file
        is not repeated over and over so we avoid having for each icons
        something like that:
        icon--star{
            ...
            background-image: url('xyz.svg');
        }
        icon--clear-view-escapes{
            ...
            background-image: url('xyz.svg');
        }
        Instead, we will have:
        .icon
        {
           background-image: url('xyz.svg'); 
        }
        then:
        .icon--star{
            ...
        }
        .icon--clear-view-escapes{
            ...
        }

        We just provide a URL path that points to the svg sprite file
        The 'sprite' variable is responsible for going into the svg folder
        and selecting the sprite file

        The reason we used a variable instead of a hardcoded path is
        because svg sprites tends to add a bunch of randomly generated characters
        to the 'sprite.css' like that: 'sprite.css-69f19c2e.svg'
        everytime a new sprite is generated

        Notice that we used TRIPLE braces, this is because the path contains
        forward slashes and forward slashes are escaped when whitin double braces
        As we do not want them to be escaped, we use TRIPLE slashes to specify the
        variable containing slashes to be as it is
        */
        .icon{
            background-image: url('../../assets/images/sprites/{{{sprite}}}');
        }

        /*
        Here, we want the PNG copy to be applied
        For that, we will create a filter function we choose to call
        'replaceSvgWithPng' that will either select,
        the SVG or the PNG version depending on browser support in the 'config'
        object of the 'gulp/tasks/sprites.js'
        We will actually call that function in the 'url' path argument,
        more precisely, we will wrap the {{{sprite}}} variable
        within our filter function
        To do that, we need to enclose the sprite variable with the following syntax:
        {{#functionName}}--variable--{{/functionName}}
        */
        .no-svg .icon{
            background-image: url('../../assets/images/sprites/{{#replaceSvgWithPng}}{{{sprite}}}{{/replaceSvgWithPng}}');
        }
    {{/first}}
    /*
    We create a new CSS rule here i guess, one per icon (since we loop)
    Each icon has its name, height and width specified automatically
    */
    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        /*
        That 'background-position' is here to tell each icon its own unique
        X and Y coordinates on the sprite file
        */
        background-position: {{position.relative.xy}};
    }
{{/shapes}}
