/*
Only contains the imports

Beginning a file with an underscore tells the developers to consider this file
a PARTIAL file not designed to be used on its own
It is intended to be imported

We can even import CSS packages installed with node like 'normalize.css'
the same way we would import classic CSS files (like the other imports)

normalize:
----------
normalize.css is an alternative to CSS Reset
It adjusts the styles of certain elements in an effort to make all web browsers
render things more consistently
You can see a tiny margin appearing on each side of the site when applying it
*/
@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_large-hero";
@import "modules/_btn";
@import "modules/_wrapper";
@import "modules/_page-section";
@import "modules/_headline";
@import "modules/_row";
@import "modules/_generic-content-container";
@import "modules/_section-title";
@import "modules/_feature_item";
@import "modules/_testimonial";
@import "modules/_sprite";
@import "modules/_site-footer";
@import "modules/_site-header";
@import "modules/_primary-nav";
@import "modules/_reveal-item";
@import "modules/_modal";
@import "modules/_social-icons";
